@import '~material-design-icons/iconfont/material-icons.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
